.prod-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.search-filter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.search-prod {
  display: flex;
  align-items: center;
}

.filter-prod {
  width: 300px;
}
