.social-links {
  position: absolute;
  bottom: 0;
  right: 0;
}

.links-list {
  display: flex;
  margin: 5px;
  margin-right: 20px;
}

.links-list li {
  list-style-type: none;
  margin: 10px;
  cursor: pointer;
  color: white;
}

.upcoming {
  display: flex;
}

.dates-place {
  display: flex;
}

.date {
  width: 5%;
  margin-right: 5vw;
}

.btns button {
  border: 2px solid rgba(0, 0, 0, 0.7);
  background-color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0 15px;
  padding: 0 5px;
  cursor: pointer;
}

.btns button:hover {
  box-shadow: 1px 2px 1px grey;
  transition: 90ms;
}

.btns {
  margin-bottom: 50px;
}

@media (max-height: 497px) {
  .upcoming {
    font-size: 11px;
  }
  .btns {
    margin: 10% 0;
  }
}

@media (max-height: 442px) {
  .upcoming {
    font-size: 9px;
  }
  .btns {
    margin: 10% 0;
  }
}
/* 
@media (max-width: 1024px) {
  .home-hero {
    height: 70vh;
    background-size: contain;
  }
} */

@media (max-width: 789px) {
  .btns {
    margin: 4% 0;
  }
}

@media (max-width: 693px) {
  .upcoming {
    font-size: 10px;
  }
}

@media (max-width: 590px) {
  .home-hero {
    /* max-width: 590px; */
    /* min-width: 590px; */
    max-height: 300px;
    min-width: 590px;
  }
  .footer {
    min-width: 590px;
  }
  .upcoming {
    min-width: 590px;
    font-size: 10px;
  }
  .btns {
    margin: 5% 0;
  }
  .social-links {
    bottom: 200px;
  }
}

@media (max-width: 425px) {
  .header {
    font-size: 25px;
  }
}
