.account {
  width: 100%;
  margin-top: 10vh;
  display: flex;
  text-align: center;
}

.acc-info {
  padding: 60px;
  margin: auto;
  min-height: 400px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid #4a4a4a; */
  border-radius: 45px;
}

.acc-info div {
  margin: 10vh 0;
}

.btn-logout {
  border: 2px solid rgba(116, 24, 32, 0.7);
  /* outline: none; */
  width: 100%;
  padding: 5px 0;
  margin: 0 15px;
  font-size: 16px;
  color: #fff;
  background: #b52532;
  cursor: pointer;
  letter-spacing: 1px;
}
