.login {
  width: 100%;
  /* height: 50vh; */
  margin-top: 10vh;
  display: flex;
  text-align: center;
}
.login-container {
  padding: 60px;
  margin: auto;
  min-height: 400px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid #4a4a4a; */
  border-radius: 45px;
}

.login-container div {
  margin: 15px 0;
}

.auth-input {
  width: 100%;
  border: none;
  box-shadow: 1px 1px 2px 1px grey;
  outline: none;
  font-size: 19px;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  /* letter-spacing: 1px; */
}

.auth-btn {
  border: 2px solid rgba(116, 24, 32, 0.7);
  /* outline: none; */
  width: 20%;
  padding: 5px 0;
  margin: 0 15px;
  font-size: 16px;
  color: #fff;
  background: #b52532;
  cursor: pointer;
  letter-spacing: 1px;
}

.auth-btn:hover {
  box-shadow: 1px 2px 1px grey;
  transition: 90ms;
}
